<ion-header>
  <ion-navbar>
      <button ion-button menuToggle >
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Materias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-navbar color="primary">
    <ion-buttons right>
      <button ion-button icon-only (click)="openAlertNewMateria()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>  
    <ion-title>Crear Materias</ion-title>
  </ion-navbar>

   <ion-list>
     <ion-item *ngIf="materias.length == 0"> 
       No existen registros de materias
     </ion-item>


    <ion-item-sliding *ngFor="let materia of materias; let i = index ">
      <ion-item >
        <ion-label>{{ materia.descripcion }}</ion-label>
        <button ion-button item-right color="danger" (click)="deleteMateria(materia, i)" >
          <ion-icon name="trash" ></ion-icon>
          Delete
        </button>
      </ion-item>
        
    </ion-item-sliding>
  </ion-list>
</ion-content>