<ion-header>
  <ion-navbar>
      <button ion-button menuToggle >
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Docentes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-navbar color="primary">
    <ion-buttons right>
      <button ion-button icon-only (click)="openAlertNewDocente()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>  
    <ion-title>Crear Docentes</ion-title>
  </ion-navbar>

   <ion-list>
     <ion-item *ngIf="docentes.length == 0"> 
       No existen registros de docentes
     </ion-item>


    <ion-item-sliding *ngFor="let docente of docentes; let i = index ">
      <ion-item >
        <ion-label>{{ docente.nombres }} {{ docente.primer_apellido }}</ion-label>
        <button  ion-button item-right color="secondary" (click)="openAlertUpdateDocente(docente)" >
          <ion-icon name="md-create"></ion-icon>
          Update
        </button>
        <button ion-button item-right color="danger" (click)="deleteDocente(docente, i)" >
          <ion-icon name="trash" ></ion-icon>
          Delete
        </button>
      </ion-item>
        
    </ion-item-sliding>
  </ion-list>
</ion-content>