<ion-header>
  <ion-navbar>
      <button ion-button menuToggle >
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Promedio por materias</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content class="home" padding>
    <form>
        
        <ion-item>
          <ion-label>Carreras</ion-label>
            <ion-select  [(ngModel)]="id_Carrera" name="id_carreras">
            <ion-option *ngFor="let carrera of carreras" [value] = "carrera.id_carreras">{{carrera.descripcion}}</ion-option>
          </ion-select>
          <button ion-button item-right (click)="buscarMaterias()">
                <ion-icon name="add-circle"></ion-icon>
            </button> 
      </ion-item>
        <ion-list>
     <ion-item *ngIf="materias.length == 0"> 
       No existen registros de materias
     </ion-item>

 <ion-item-sliding *ngFor="let materia of materias; let i = index ">
      <ion-item >
        <ion-label>{{ materia.id_materias }} - {{ materia.descripcion }} </ion-label>
        <ion-label> {{ materia.promedio }} </ion-label>     
        <button  ion-button item-right color="light" (click)="visualizarDetalleCalificaciones(materia.id_materias)" >
          <ion-icon name="md-eye"></ion-icon>
          Ver
        </button>
      </ion-item>
        
    </ion-item-sliding>
  </ion-list>
     
    </form>
</ion-content>


