<ion-header>
  <ion-navbar>
  <button ion-button menuToggle >
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Pendientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-navbar color="primary">
    <ion-buttons right>
      <button ion-button icon-only (click)="openAlertNewPendiente()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>  
    <ion-title>Crear Pendientes</ion-title>
  </ion-navbar>

  <ion-list>
     <ion-item *ngIf="pendientes.length == 0"> 
       No existen registros de pendientes
     </ion-item>

      <ion-item-sliding *ngFor="let pendiente of pendientes; let i = index ">
      <ion-item >
        <ion-label>{{ pendiente.id_materia }} {{ pendiente.descripcion }}</ion-label>
        <button  ion-button item-right color="secondary" (click)="openAlertUpdatePendiente(pendiente)" >
          <ion-icon name="md-create"></ion-icon>
          Update
        </button>
        <button ion-button item-right color="danger" (click)="deletePendiente(pendiente, i)" >
          <ion-icon name="trash" ></ion-icon>
          Delete
        </button>
      </ion-item>
        
    </ion-item-sliding>
     </ion-list>
</ion-content>
